/* use Charis SIL - Regular in .woff format */
@font-face {
  font-family: CharisSILW;
  src: url(fonts/CharisSIL-R.woff);
}

/* use Charis SIL - Italic in .woff format */
@font-face {
  font-family: CharisSILW;
  font-style: italic;
  src: url(fonts/CharisSIL-I.woff);
}

@font-face {
	font-family: CharisSILW;
	font-weight: bold;
	src: url(fonts/CharisSIL-B.woff);
}

@font-face {
	font-family: CharisSILW;
	font-weight: bold;
	font-style: italic;
	src: url(fonts/CharisSIL-BI.woff);
}

/* Adding box decorations like this instead of on each element makes it much easier to update */
.gray-box-shadow, #viewDoc, #viewAnnotationsDiv, #viewNotations {
	-webkit-box-shadow: 0 0 18px 5px #ccc;
    -moz-box-shadow: 0 0 18px 5px #ccc;
    box-shadow: 0 0 18px 5px #ccc;	

}

h1 {
    font-weight: normal;	
}

body, textarea {
	font-family: CharisSILW;
}

body {
    background-color: #ffffcc; 
	font-size: 16px;
}

#docSelect {
    position:absolute;
    top:50px;
    left:0;
    width:190px;
    height:600px;
    padding:5px;
    overflow-x: hidden; 
    overflow-y: auto; 
}

#bookSelect {
    position:absolute;
    top:0;
    left:200px;
    width:1000px;
    height:50px;
}

#doc {
    position:absolute;
    top:50px;
    left:200px;
    width:850px;
    height:600px;
    overflow-x: hidden; 
    overflow-y: auto; 
}

#notation {
    position:absolute;
    top:650px;
    left:200px;
    width:830px;
    height:200px;
    padding:10px;
    border:1px solid black;
    font-size:100%;
    overflow-x: hidden; 
    overflow-y: auto; 
}

#pageControlTop {
    position:absolute;
    top:0;
    left:1200px;
    width:250px;
    height:50px;
    padding:5px;
}

#pageControlBottom {
    position:absolute;
    top:610px;
    left:1050px;
    width:250px;
    height:50px;
    padding:5px;
}

#annotations {
    position:absolute;
    top:50px;
    left:1050px;
    width:250px;
    height:550px;
    padding:5px;
    overflow-x: hidden; 
    overflow-y: auto;
}

.thumbSelection {
   filter:alpha(opacity=50);
   MozOpacity:.5;
   opacity:.5;
}


#viewBookSelect {
    position:absolute;
    top:0;
    left:0;
    width:850px;
    height:50px;
}
#viewBookSelect table{
    width:100%;
    line-height: .9em;
}

#viewDoc {
    position:absolute;
    top:70px;
    left:0;
    width:850px;
    height:300px;
    overflow-x: hidden; 
    overflow-y: auto; 
    border: 4px solid #CED5E5;
    margin-left:20px;
    background-color:#fff;
}

#viewAnnotationsDiv {
    text-align:justify;
    visibility:hidden;
    background:#ccc;
    width: 400px;
    padding: 10px;
    position: absolute;
    z-index:9999;
    border: 4px solid #CED5E5;
}

#viewAnnotations {
    overflow-x: hidden; 
    overflow-y: auto;
}

#viewTitle {
    position:absolute;
    top:390px;
    left:0;
    width:850px;
    height:30px;
    text-align:left;
    font-weight:bold;
    margin-left:20px;
}

#specialLettersButton {
	position: absolute;
	right: 0;
}

#previousPage {
    float:left;
}

#nextPage {
    float:right;
}

#viewNotations {
    position:absolute;
    top:420px;
    left:0;
    width:810px;
    height:300px;
    padding-left:20px;
    padding-right:20px;
	padding-top: 10px;
    text-align:justify;
    overflow-x: hidden; 
    overflow-y: auto; 
    background-color:#fff;
    border: 4px solid #CED5E5;
    margin-left:20px;
}

.notation {
	line-height: 1.25em;
}

.paragraph {
    margin-top : 10px; 
    text-indent: 10px; 
    display:block;
}

.verse {
    font-size: .7em;
	vertical-align: 20%;
    color:blue;
    display:inline;
}

.chapter {
	font-size: 3.25em;
    line-height: .8em;
    color:purple;
    text-align:center;
    display:inline;
    float: left;
    padding-right:0.1em;
}

.quote {
    text-decoration: underline;
    display:inline;
    margin:0;
    padding:0;
}


a {
    text-decoration:none;
    display:inline;
    color:black;
    margin:0;
    padding:0;
}

[target=_blank] {
    text-decoration:underline;
    display:inline;
    color:blue;
    margin:0;
    padding:0;
}

.title {
     font-size: 1.95em;
	 line-height: 1.25em;
     text-align: center;
     width: 100%;
}

.subHeader {
     font-size: 1.4em;
	 font-weight: bold;
     text-align: center;
	 color:purple;
     width: 100%;
     display:block;
     margin-top: .25in;
}

#editHeading {
    text-align:left;
    font-size: 1.25em;
    padding:20px;
}
